*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
border-bottom:1px solid #00ffcc33;
}

.logo{
font-size:22px;
font-weight:bold;
color:#00ffcc;
}

/* SEARCH */

.search{
padding:10px;
border-radius:10px;
border:none;
width:250px;
background:#020617;
color:white;
border:1px solid #00ffcc55;
}

/* PRODUCTS */

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;
}

.card{
background:#020617;
border-radius:18px;
padding:15px;
transition:.3s;
border:1px solid #00ffcc22;
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00ffcc44;
}

.card img{
width:100%;
border-radius:12px;
}

.price{
color:#00ffcc;
font-size:20px;
margin-top:5px;
}

/* CART BUTTON */

.cartBtn{
position:fixed;
bottom:30px;
left:30px;
background:#00ffcc;
color:black;
padding:15px;
border-radius:50%;
cursor:pointer;
font-size:20px;
}

/* CART PANEL */

.cart{
position:fixed;
left:-400px;
top:0;
width:320px;
height:100%;
background:#020617;
padding:20px;
transition:.4s;
overflow:auto;
}

.showCart{
left:0;
}

button{
background:#00ffcc;
border:none;
padding:10px;
border-radius:10px;
cursor:pointer;
width:100%;
margin-top:8px;
font-weight:bold;
}

/* FORM */

.checkout input{
display:block;
width:100%;
padding:10px;
margin:8px 0;
border-radius:8px;
border:none;
background:#0f172a;
color:white;
border:1px solid #00ffcc44;
}
